.iconbar{
    width: 100%;
    float: left;
    text-align: center;
    width: 16.666%;
    padding: 5px;
    color: rgb(167, 148, 46);
    font-size: 40px;
    background-color: azure;
    outline: none;
    border: none;
}
.iconbar:hover{
    background-color: bisque;
}
.home,.book{
    display: none;
    text-align: left;
    background-color: bisque;
    width: 100%;
    height: 100%;
}
.import{
    background-color: bisque;
}